@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


/*button start*/

.radial-gradient {
  background: radial-gradient(
    circle at 50% 0%,
    rgba(0, 0, 0, 0.5) 0%, /* Black with 5% opacity */
    transparent 60%
  ),
  rgba(2, 2, 2, 2); /* Solid black */
}


.linear-mask {
  mask-image: linear-gradient(
    -75deg,
    white calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    white calc(var(--x) + 100%)
  );
  -webkit-mask-image: linear-gradient(
    -75deg,
    white calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    white calc(var(--x) + 100%)
  );
}

.linear-overlay {
  background-image: linear-gradient(
    -75deg,
    rgba(var(--overlay-color), 0.1) calc(var(--x) + 20%),
    rgba(var(--overlay-color), 0.5) calc(var(--x) + 25%),
    rgba(var(--overlay-color), 0.1) calc(var(--x) + 100%)
  );
  mask: 
    linear-gradient(#cccccc, #cccccc) content-box, /* Replacing black with a lighter gray */
    linear-gradient(#cccccc, #cccccc);
  -webkit-mask:
    linear-gradient(#cccccc, #cccccc) content-box,
    linear-gradient(#cccccc, #cccccc);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}


/*button end*/


/*statscard start*/

.root {
  padding: calc(var(--mantine-spacing-xl) * 1.5);
}

.statcard {
  background-color: cornflowerblue;
}

/*statscard end*/


/*banner start*/

.card {
  height: rem(240px);
  background-size: cover;
  background-position: center;
  background-image: url(https://images.unsplash.com/photo-1596394516093-501ba68a0ba6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
}

.content {
  position: absolute;
  inset: 0;
  padding: var(--mantine-spacing-xl);
  z-index: 1;
}

.action {
  position: absolute;
  bottom: var(--mantine-spacing-xl);
  right: var(--mantine-spacing-xl);
}

.title {
  color: var(--mantine-color-white);
  margin-bottom: calc(var(--mantine-spacing-xs) / 2);
}

.description {
  color: var(--mantine-color-white);
  max-width: rem(220px);
}

.overlay {
  background-color: transparent;
  background-image: linear-gradient(
    105deg,
    var(--mantine-color-black) 20%,
    #312f2f 50%,
    var(--mantine-color-gray-4) 100%
  );
}

/*banner end*/


/*campaign card start*/

.progressLabel {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  line-height: 1;
  font-size: var(--mantine-font-size-sm);
}

.stat {
  border-bottom: rem(3px) solid;
  padding-bottom: rem(5px);
}

.statCount {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  line-height: 1.3;
}

.diff {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  display: flex;
  align-items: center;
}

.icon {
  color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
}

/*campaign card end*/


/* Table start */

.table-container {
  width: 100%; /* Default width on larger devices */
}

@media only screen and (max-width: 768px) {
  .table-container {
    width: 90vw;
    display: flex;
    justify-content: start;
    /* 90% of viewport width on mobile devices */
  }
}


/* Table end */

  @layer base {
    
    body {
      @apply bg-background text-foreground;
      font-family: "Open Sans", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      font-variation-settings:
        "wdth" 100;
    }
    
    :root {
      --background: 0 0% 100%;
      --foreground: 240 10% 3.9%;

      --card: 0 0% 100%;
      --card-foreground: 240 10% 3.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.9%;

      --primary: 240 5.9% 10%;
      --primary-foreground: 0 0% 98%;

      --secondary: 240 4.8% 95.9%;
      --secondary-foreground: 240 5.9% 10%;

      --muted: 240 4.8% 95.9%;
      --muted-foreground: 240 3.8% 46.1%;

      --accent: 240 4.8% 95.9%;
      --accent-foreground: 240 5.9% 10%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 5.9% 90%;
      --input: 240 5.9% 90%;
      --ring: 240 10% 3.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 240 10% 3.9%;
      --foreground: 0 0% 98%;

      --card: 240 10% 3.9%;
      --card-foreground: 0 0% 98%;

      --popover: 240 10% 3.9%;
      --popover-foreground: 0 0% 98%;

      --primary: 0 0% 98%;
      --primary-foreground: 240 5.9% 10%;

      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;

      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 64.9%;

      --accent: 240 3.7% 15.9%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 240 4.9% 83.9%;
    }



    
     

  }